$gray-1: #9197b3;
$gray-2: #757575;
$gray-3: #b5b7c0;
$gray-4: #7e7e7e;
$gray-5: #838383;
$green-1: #16c098;
$green-bg: rgb(22, 192, 152, 0.38);
$green-2: #00b087;
$green-3: #008767;
$red-1: #df0404;
$red-bg: #ffc5c5;
$border: #eeeeee;
$dark: #292d32;
$dark-2: #404b52;
$primary: #5932ea;
$black: #000000;
$white: #ffffff;
