block variables
  - title = title || 'CRM Dashboard Customers';

doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon", type="image/svg", href="@images/logo.svg")
    title= title

    block style

    block head
  body
    block body
    
    script(src="@scripts/animations.js")
    block script